<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/about.css">
</head>
<body>
    <%- include('./navbar');%>
      <section class="about-page">
          
          <div class="container">
              <h1>welcome to st. joseph high school </h1>
              <h3>brief about us</h3>
              <article style="color: black; margin: 60px;">
                   st joseph high was estiblised in 2003.
                   Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere consequatur dolorem aliquid nostrum cum repellat magni culpa dolor dolores commodi dolore quibusdam assumenda fugiat odio nisi perspiciatis vero aut atque eos necessitatibus, illum eius. Tenetur accusamus laborum accusantium optio aperiam commodi aliquam, quis ab voluptate adipisci nam! Dolorum, facilis dicta? Laboriosam neque aperiam quasi quidem corrupti ex ut corporis architecto eos ullam voluptatum, autem vero. Veritatis sequi temporibus ipsa! Molestias blanditiis accusamus fugiat, tenetur nostrum voluptatum velit, voluptatem veniam repellat dolor unde et possimus ea. Ut dolores enim corrupti, harum, dolorem possimus dolor iure molestias blanditiis non provident! Nam sequi praesentium vel, provident recusandae tempore doloremque? Ex consectetur fugit consequuntur odit tempore voluptas officiis debitis, voluptates nam quam sapiente ipsam dolores. Perferendis dicta sapiente vero quaerat quia. Vel, sapiente obcaecati natus necessitatibus vitae hic consequuntur, nihil sunt quae blanditiis tenetur libero deserunt in quas nulla dicta dolor, impedit voluptatem! Quasi esse qui doloremque dolorem quas iure hic recusandae sed magnam accusantium, placeat ab vitae repellat at quaerat facilis. Harum odit pariatur debitis, voluptates possimus perspiciatis a sed architecto maxime itaque mollitia voluptatibus consectetur culpa rerum in, eaque sit laboriosam. Quisquam, iure animi quod molestiae deleniti autem ducimus? Officiis, nesciunt. Molestias, expedita temporibus cumque, ratione itaque inventore dolore nam dicta eveniet qui quas voluptate, quibusdam dolorum quae minima. Quam vero sint dolorem ad delectus excepturi quasi, deleniti repellat id consectetur asperiores facilis nam iure in eius neque et iste blanditiis suscipit. Esse excepturi ut reprehenderit aut! Nisi voluptate cumque ducimus nobis, aliquam adipisci molestias magnam expedita praesentium rerum vero nam fugiat iste vel alias consequatur facilis natus a explicabo, officia porro placeat eligendi error beatae. Dolorum quae necessitatibus vel a eos voluptates obcaecati, blanditiis earum, consectetur mollitia molestias magnam expedita ipsam iste! Doloremque inventore id perspiciatis quaerat magnam. Sunt, quae totam.
                   <a href="www.google.com">read more</a>

              </article>
          </div>
      </section>
    <%- include("./footer.ejs"); %>
</body>
</html>