<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/academics.css">
</head>
<body>
    <%- include('./navbar'); -%>
    <section class="academics-sec">
       <div class="acd-pic">
           <img src="../static/images/acad.jpg" alt="" class="acd-img">
       </div>
       <article>
            The Academic Section headed by Dean Academic is primarily entrusted with the responsibility of implementation of the decisions taken on 'Academic Matters' by the Senate and the SUGB / SPGB of the institute.
       </article>
       <h6>The Major functions / st.joseph's of Academic Section include the following:</h6>
       <ul>
           <li ><p>Receive, processes and maintain all records relating to the Undergraduate and Post graduate programmes including Curricula, courses offered, Academic Calendar, unfair means etc and attend to the academic problems of the students. </p></li>
           <li><p>
            Preparation & issuance of Grade Sheets / Degree Certificates / Migration Certificates / Provisional Degree Certificates / Bonified Certificate /medium of instruction certificate, Fee structure, Transcripts, Verification etc
           </p></li>
           <li><p>
            To deal with the matter related to Preparation & maintenance of fee ledger, refund of caution money, payment of honorarium to the external examiners, make payment for remedial classes; deal with ICCR UG/PG Scholarship issues etc.
           </p></li>
           <li><p>
            Registration of students for supplementary exams and coordinating with the respective departments for its smooth conduct and work related to admission of DASA/ICCR students.
           </p></li>
           <li><p>
            Registration / pre-registration /course registration (open elective) of existing students and registration of new students.
           </p></li>
           
       </ul>
    </section>
    <%- include("./footer.ejs"); %>
</body>
</html>