<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>st.joseph's high school</title>
    <style>
        h4{
            text-align: center;
            text-transform: capitalize;
            font-size: 1.6rem;
            color: greenyellow;
            background-color: black;
        }
    </style>
</head>
<body>
     
     <h4>thanks for connecting us.we will contact you shortly</h4>
</body>
</html>