<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/footerstyle.css" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <section>
      <footer>
        <div class="footer-container">
          <div class="footr-row" id="footcol-1">
            <div class="imgclass">
              <img
                src="../static/images/stjosephLogo.png"
                class="logoimg"
                alt="logo"
              />
              <p id="p1">ST.Joseph's High School</p>
            </div>
          </div>
          <div class="footr-row" id="footcol-2">
            <h4>St.joseph's High School</h4>
            <h5>Chiksaura Road</h5>
            <p>Hilsa Nalanda 801302</p>
            <ul>
              <li>Main:0612-2217901</li>
              <li>Fax:612-221-7901</li>
            </ul>
          </div>
          <div class="footr-row" id="footcol-3">
            <div class="social">
              <a href="https://www.twitter.com/" target="_blank"
                ><i
                  class="fa fa-twitter"
                  aria-hidden="true"
                  style="font-size: 48px; color: blue"
                ></i>
              </a>
              <a
                href="https://www.facebook.com/pg/chiksauraroadhilsa/photos/?ref=page_internal"
                target="_blank"
                ><i
                  class="fa fa-facebook-official"
                  style="font-size: 48px; color: blue"
                  aria-hidden="true"
                ></i>
              </a>
              <a href="https://www.instagram.com/" target="_blank"
                ><i
                  class="fa fa-instagram"
                  aria-hidden="true"
                  style="font-size: 48px; color: crimson"
                ></i>
              </a>
              <a
                href="https://www.youtube.com/user/470shambhu/playlists"
                target="_blank"
                ><i
                  class="fa fa-youtube"
                  aria-hidden="true"
                  style="font-size: 48px; color: crimson"
                ></i>
              </a>
            </div>
          </div>
        </div>
        <div class="copy">
          <h5>Copyright &#9400; 2021 St Joseph's High School.</h5>
          <h5>All Right Reserved</h5>
          <h4>Designed And Developed by Manish Kumar</h4>
        </div>
      </footer>
    </section>
  </body>
</html>
