<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link
          href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet"
        />
        <link
          rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        />
        
        <link
          href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap"
          rel="stylesheet"
        />
        <title>
            ST. JOSEPH HIGH SCHOOL HILSA</title>
        <link rel="icon" href="../static/images/stjosephLogo.png" type="image/x-icon" />
        <link rel="stylesheet" href="../static/css/navbarstyle.css">
        </title>
    </head>
<body>
    <header>
        <div class="school">
          <div class="temp">
            <p style="font-size: 1.3rem;">
            <i class="material-icons">pin_drop</i> St. Joseph's High
            School,Chiksaura Road, Hilsa,Nalanda
          </p>
          </div>
          
  
          <div class="social">
            <a href="https://www.twitter.com/" target="_blank"
              ><i
                class="fa fa-twitter"
                aria-hidden="true"
                style="font-size: 48px; color: blue"
              ></i>
            </a>
            <a href="https://www.facebook.com/pg/chiksauraroadhilsa/photos/?ref=page_internal" target="_blank"
              ><i
                class="fa fa-facebook-official"
                style="font-size: 48px; color: blue"
                aria-hidden="true"
              ></i>
            </a>
            <a href="https://www.instagram.com/" target="_blank"
              ><i
                class="fa fa-instagram"
                aria-hidden="true"
                style="font-size: 48px; color: crimson"
              ></i>
            </a>
            <a href="https://www.youtube.com/user/470shambhu/playlists" target="_blank"
              ><i
                class="fa fa-youtube"
                aria-hidden="true"
                style="font-size: 48px; color: crimson"
              ></i>
            </a>
          </div>
        </div>
        
          <nav class="navigation">
            <div class="imgclass">
              <img src="../static/images/stjosephLogo.png" class="logoimg" alt="logo" />
              <p id="p1">ST.Joseph's High School</p>
            </div>
            <ul class="item">
              <li id="item-1"><a href="/">Home </a></li>
              <li id="item-1"><a href="/about">About Us </a></li>
              <li id="item-1">
                <a href="/academics">Acedamics </a>
              </li>
              
              <li id="item-1"><a href="/resource">Resource</a></li>
              <li id="item-1"><a href="/contact">Contact us </a></li>
              <li id="item-1"><a href="/staff">Faculty</a></li>
            </ul>
          </nav>
    </header>
</body>
</html>