<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/resource.css">
</head>
<body>
    <%- include('./navbar'); -%>
    <section class="resource-sec">
        <div class="book-container">
            <div class="book-self" id="first-self">
                <a href="http://ncert.nic.in/textbook.php?jesc1=0-16" target="_blank" ><img src="../static/images/bookImg/math-3.jpg" alt="" class="book-gallery"> </a> 
                <a href="http://ncert.nic.in/textbook.php?iesc1=0-15" target="_blank" ><img src="../static/images/bookImg/math-4.jpg" alt="" class="book-gallery"></a> 
                <a href="http://ncert.nic.in/textbook.php?cemh1=0-14"target="_blank" ><img src="../static/images/bookImg/math-5.jpg" alt="" class="book-gallery"></a>
            </div>
            <div class="book-self" id="second-self">
                <a href="https://ncert.nic.in/textbook.php?eemh1=0-14" target="_blank" ><img src="../static/images/bookImg/math-6.jpg" alt="" class="book-gallery"> </a> 
                <a href="https://ncert.nic.in/textbook.php?femh1=0-14" target="_blank" ><img src="../static/images/bookImg/math-7.jpg" alt="" class="book-gallery"></a> 
                <a href="https://ncert.nic.in/textbook.php?femh1=0-14" target="_blank"><img src="../static/images/bookImg/math-8.jpg" alt="" class="book-gallery"></a>
                <a href="https://ncert.nic.in/textbook.php?gemh1=0-15" target="_blank"><img src="../static/images/bookImg/math-9.jpg" alt="" class="book-gallery"></a>
            </div>
            <div class="book-self" id="third-self">
                <a href="http://ncert.nic.in/textbook.php?iesc1=0-15" target="_blank"><img src="../static/images/bookImg/sci-9.jpg" alt="" class="book-gallery"> </a> 
                <a href="http://ncert.nic.in/textbook.php?iemh1=0-15" target="_blank"><img src="../static/images/bookImg/math-10.jpg" alt="" class="book-gallery"></a> 
                <a href="http://ncert.nic.in/textbook.php?jesc1=0-16" target="_blank"><img src="../static/images/bookImg/sci-10.jpg" alt="" class="book-gallery"></a>
            </div>
        </div>
        <a href="http://ncert.nic.in/textbook.php" target="_blank"><h2>click for more book.. </h2></a>
    </section>

    <%- include("./footer.ejs"); %>
</body>
</html>