<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/staff.css">
</head>
<body>
    <%- include('./navbar'); -%>
    <section class="staff">
            <div class="picture-sec" id="first">
                <img class="image" src="../static/images/prinsir.jpg" alt="pic">
                <h2>rajeshwar parasad</h2>
                <p class="change-color">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum inventore aperiam earum accusantium culpa, provident molestias ipsum. Ratione quidem enim facilis aperiam quod quis iusto nostrum sed assumenda, maiores repellendus amet, tempore labore, ab ducimus vel cum? Ipsum earum, consequatur, eum eaque magnam necessitatibus tempore fuga, ea sint architecto a <a href="www.google.com" style="color: red; text-decoration: none;;" >Read More</a> </p>
            </div>
            <div class="picture-sec" id="second">
                <img class="image" src="../static/images/prinsir.jpg" alt="pic">
                <h2>sadhna singh</h2>
                <p class="change-color">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum inventore aperiam earum accusantium culpa, provident molestias ipsum. Ratione quidem enim facilis aperiam quod quis iusto nostrum sed assumenda, maiores repellendus amet, tempore labore, ab ducimus vel cum? Ipsum earum, consequatur, eum eaque magnam necessitatibus tempore fuga, ea sint architecto a <a href="www.google.com" style="color: red; text-decoration: none;;" >Read More</a> </p>
            </div>
            <div class="picture-sec" id="third">
                <img class="image" src="../static/images/prinsir.jpg" alt="pic">
                <h2>pawan kumar</h2>
                <p class="change-color">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum inventore aperiam earum accusantium culpa, provident molestias ipsum. Ratione quidem enim facilis aperiam quod quis iusto nostrum sed assumenda, maiores repellendus amet, tempore labore, ab ducimus vel cum? Ipsum earum, consequatur, eum eaque magnam necessitatibus tempore fuga, ea sint architecto a <a href="www.google.com" style="color: red; text-decoration: none;;" >Read More</a>  </p>
            </div>
            <div class="picture-sec" id="fourth">
                <img class="image" src="../static/images/prinsir.jpg" alt="pic">
                <h2>rakesh parasad</h2>
                <p class="change-color">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum inventore aperiam earum accusantium culpa, provident molestias ipsum. Ratione quidem enim facilis aperiam quod quis iusto nostrum sed assumenda, maiores repellendus amet, tempore labore, ab ducimus vel cum? Ipsum earum, consequatur, eum eaque magnam necessitatibus tempore fuga, ea sint architecto a <a href="www.google.com" style="color: red; text-decoration: none;;" >Read More</a> </p>
            </div>
    </section>
    <%- include("./footer.ejs"); %>
</body>
</html>