* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Oswald", sans-serif;
}
.container1 {
  width: 100%;
  height: 545px;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  background-color: rgb(168, 149, 156);
}
.sec {
  width: 100%;
  height: 400px;
  border: 2px solid black;
}
#coro-1 {
  color: orange;
  text-align: center;
  font-size: 2.8rem;
  font-weight: 800;
}
.firstBtn {
  text-align: center;
  display: block;
  margin: 0px auto;
  font-size: 2rem;
  border: 4px solid olive;
  border-radius: 6px;
  padding: 2px 12px;
  text-transform: uppercase;
  font-weight: 800;
}
.container3 {
  display: flex;
  width: 80%;
  height: 500px;
  background-color: whitesmoke;
  margin-top: 20px;
  justify-content: space-between;
}
.container3 img {
  width: 300px;
  height: 300px;
  border: 4px solid black;
  margin: 4px 8px;
  box-shadow: -5px 8px 3px rgb(255, 47, 64), 5px -8px 3px purple;
}
#msg-1 {
  margin: 2px 55px;
}
#msg-2 {
  border: 4px solid goldenrod;
  height: 410px;
  padding: 5px 10px;
}

button:hover {
  color: orange;
  background-color: gray;
}
.cimg {
  display: block;
  margin: 2px auto;
  height: 540px;
}
.container2 {
  width: 100%;
  height: 445px;
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  align-items: center;
  justify-content: space-between;
}
.secitem {
  height: 100%;
  width: 30%;
}
.secitem img {
  display: block;
  height: 100%;
  width: 100%;
  z-index: -5;
}
.imgtext {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 4px solid goldenrod;
}
#imgtext1 {
  background-image: url("../images/schooldiv/times2_elementary.png");
}
#imgtext2 {
  background-image: url("../images/schooldiv/times2_middleschool.png");
}
#imgtext3 {
  background-image: url("../images/schooldiv/times2_highschool.png");
}
.bdadaba {
  display: flex;
  justify-content: space-between;
  height: 500px;
  margin: 0px 14px;
  padding: 2px 10px;
  margin-bottom: 60px;
}
.bdadaba a {
  text-decoration: none;
  color: black;
  font-size: 1.4rem;
  font-weight: bolder;
}
.chota {
  width: 50%;
  display: flex;
  flex-direction: column;
}
#chotedba-1 {
  margin: 1px 40px;
  background-color: lightskyblue;
  box-shadow: inset 4px 55px green;
}
#chotedba-1,
#chotedba-2 {
  box-shadow: inset 4px 55px green;
}
#chotedba-2 {
  background-color: rgba(216, 112, 147, 0.589);
}

.small {
  height: 19%;
  padding-top: 17px;
}
.csmall {
  height: 17%;
  padding-top: 17px;
}

.small a,
.firstBtn > a,
.csmall a {
  text-decoration: none;
  color: maroon;
}
.photo-container {
  display: flex;
  height: 425px;
  margin-top: 50px;
  justify-content: space-between;
  background-color: bisque;
}
.photo-col {
  display: flex;
  flex-direction: column;
}
.photo-col video {
  margin-left: 3px;
}
#photo-col2 img {
  width: 30%;
  margin: 2px 10px;
  height: 200px;
}
#photo-col3 img {
  width: 46%;
  margin: 2px 12px;
  height: 200px;
}

.text-util {
  color: black;
  text-align: center;
}
.txt-org {
  color: orange;
}
.txt-marron {
  color: maroon;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 2rem;
}
